[class^="devicon-"],
[class*=" devicon-"] {
  display: flex;
}

[class^="devicon-"]::before,
[class*=" devicon-"]::before {
  display: inline-block;
  height: 3rem;
  width: 3rem;
}

$theme-path:'-original-dark';

.devicon-aarch64:before{content:url('/theme/images/icons/aarch64/aarch64'+$theme-path+'.svg');}
.devicon-adonisjs:before{content:url('/theme/images/icons/adonisjs/adonisjs'+$theme-path+'.svg');}
.devicon-aftereffects:before{content:url('/theme/images/icons/aftereffects/aftereffects'+$theme-path+'.svg');}
.devicon-amazonwebservices:before{content:url('/theme/images/icons/amazonwebservices/amazonwebservices'+$theme-path+'.svg');}
.devicon-android:before{content:url('/theme/images/icons/android/android'+$theme-path+'.svg');}
.devicon-angularjs:before{content:url('/theme/images/icons/angularjs/angularjs'+$theme-path+'.svg');}
.devicon-apache:before{content:url('/theme/images/icons/apache/apache'+$theme-path+'.svg');}
.devicon-apachekafka:before{content:url('/theme/images/icons/apachekafka/apachekafka'+$theme-path+'.svg');}
.devicon-appcelerator:before{content:url('/theme/images/icons/appcelerator/appcelerator'+$theme-path+'.svg');}
.devicon-apple:before{content:url('/theme/images/icons/apple/apple'+$theme-path+'.svg');}
.devicon-appwrite:before{content:url('/theme/images/icons/appwrite/appwrite'+$theme-path+'.svg');}
.devicon-arduino:before{content:url('/theme/images/icons/arduino/arduino'+$theme-path+'.svg');}
.devicon-atom:before{content:url('/theme/images/icons/atom/atom'+$theme-path+'.svg');}
.devicon-azure:before{content:url('/theme/images/icons/azure/azure'+$theme-path+'.svg');}
.devicon-babel:before{content:url('/theme/images/icons/babel/babel'+$theme-path+'.svg');}
.devicon-backbonejs:before{content:url('/theme/images/icons/backbonejs/backbonejs'+$theme-path+'.svg');}
.devicon-bash:before{content:url('/theme/images/icons/bash/bash'+$theme-path+'.svg');}
.devicon-behance:before{content:url('/theme/images/icons/behance/behance'+$theme-path+'.svg');}
.devicon-bitbucket:before{content:url('/theme/images/icons/bitbucket/bitbucket'+$theme-path+'.svg');}
.devicon-bootstrap:before{content:url('/theme/images/icons/bootstrap/bootstrap'+$theme-path+'.svg');}
.devicon-bower:before{content:url('/theme/images/icons/bower/bower'+$theme-path+'.svg');}
.devicon-bulma:before{content:url('/theme/images/icons/bulma/bulma'+$theme-path+'.svg');}
.devicon-c:before{content:url('/theme/images/icons/c/c'+$theme-path+'.svg');}
.devicon-cakephp:before{content:url('/theme/images/icons/cakephp/cakephp'+$theme-path+'.svg');}
.devicon-canva:before{content:url('/theme/images/icons/canva/canva'+$theme-path+'.svg');}
.devicon-centos:before{content:url('/theme/images/icons/centos/centos'+$theme-path+'.svg');}
.devicon-ceylon:before{content:url('/theme/images/icons/ceylon/ceylon'+$theme-path+'.svg');}
.devicon-chrome:before{content:url('/theme/images/icons/chrome/chrome'+$theme-path+'.svg');}
.devicon-circleci:before{content:url('/theme/images/icons/circleci/circleci'+$theme-path+'.svg');}
.devicon-clojure:before{content:url('/theme/images/icons/clojure/clojure'+$theme-path+'.svg');}
.devicon-clojurescript:before{content:url('/theme/images/icons/clojurescript/clojurescript'+$theme-path+'.svg');}
.devicon-codeberg:before{content:url('/theme/images/icons/codeberg/codeberg'+$theme-path+'.svg');}
.devicon-codecov:before{content:url('/theme/images/icons/codecov/codecov'+$theme-path+'.svg');}
.devicon-codeigniter:before{content:url('/theme/images/icons/codeigniter/codeigniter'+$theme-path+'.svg');}
.devicon-codepen:before{content:url('/theme/images/icons/codepen/codepen'+$theme-path+'.svg');}
.devicon-coffeescript:before{content:url('/theme/images/icons/coffeescript/coffeescript'+$theme-path+'.svg');}
.devicon-composer:before{content:url('/theme/images/icons/composer/composer'+$theme-path+'.svg');}
.devicon-confluence:before{content:url('/theme/images/icons/confluence/confluence'+$theme-path+'.svg');}
.devicon-couchdb:before{content:url('/theme/images/icons/couchdb/couchdb'+$theme-path+'.svg');}
.devicon-cplusplus:before{content:url('/theme/images/icons/cplusplus/cplusplus'+$theme-path+'.svg');}
.devicon-crystal:before{content:url('/theme/images/icons/crystal/crystal'+$theme-path+'.svg');}
.devicon-csharp:before{content:url('/theme/images/icons/csharp/csharp'+$theme-path+'.svg');}
.devicon-css3:before{content:url('/theme/images/icons/css3/css3'+$theme-path+'.svg');}
.devicon-cucumber:before{content:url('/theme/images/icons/cucumber/cucumber'+$theme-path+'.svg');}
.devicon-d3js:before{content:url('/theme/images/icons/d3js/d3js'+$theme-path+'.svg');}
.devicon-dart:before{content:url('/theme/images/icons/dart/dart'+$theme-path+'.svg');}
.devicon-debian:before{content:url('/theme/images/icons/debian/debian'+$theme-path+'.svg');}
.devicon-denojs:before{content:url('/theme/images/icons/denojs/denojs'+$theme-path+'.svg');}
.devicon-devicon:before{content:url('/theme/images/icons/devicon/devicon'+$theme-path+'.svg');}
.devicon-digitalocean:before{content:url('/theme/images/icons/digitalocean/digitalocean'+$theme-path+'.svg');}
.devicon-django:before{content:url('/theme/images/icons/django/django'+$theme-path+'.svg');}
.devicon-docker:before{content:url('/theme/images/icons/docker/docker'+$theme-path+'.svg');}
.devicon-doctrine:before{content:url('/theme/images/icons/doctrine/doctrine'+$theme-path+'.svg');}
.devicon-dot-net:before{content:url('/theme/images/icons/dot-net/dot-net'+$theme-path+'.svg');}
.devicon-dotnetcore:before{content:url('/theme/images/icons/dotnetcore/dotnetcore'+$theme-path+'.svg');}
.devicon-drupal:before{content:url('/theme/images/icons/drupal/drupal'+$theme-path+'.svg');}
.devicon-electron:before{content:url('/theme/images/icons/electron/electron'+$theme-path+'.svg');}
.devicon-eleventy:before{content:url('/theme/images/icons/eleventy/eleventy'+$theme-path+'.svg');}
.devicon-elixir:before{content:url('/theme/images/icons/elixir/elixir'+$theme-path+'.svg');}
.devicon-elm:before{content:url('/theme/images/icons/elm/elm'+$theme-path+'.svg');}
.devicon-embeddedc:before{content:url('/theme/images/icons/embeddedc/embeddedc'+$theme-path+'.svg');}
.devicon-ember:before{content:url('/theme/images/icons/ember/ember'+$theme-path+'.svg');}
.devicon-erlang:before{content:url('/theme/images/icons/erlang/erlang'+$theme-path+'.svg');}
.devicon-express:before{content:url('/theme/images/icons/express/express'+$theme-path+'.svg');}
.devicon-facebook:before{content:url('/theme/images/icons/facebook/facebook'+$theme-path+'.svg');}
.devicon-feathersjs:before{content:url('/theme/images/icons/feathersjs/feathersjs'+$theme-path+'.svg');}
.devicon-figma:before{content:url('/theme/images/icons/figma/figma'+$theme-path+'.svg');}
.devicon-filezilla:before{content:url('/theme/images/icons/filezilla/filezilla'+$theme-path+'.svg');}
.devicon-firebase:before{content:url('/theme/images/icons/firebase/firebase'+$theme-path+'.svg');}
.devicon-firefox:before{content:url('/theme/images/icons/firefox/firefox'+$theme-path+'.svg');}
.devicon-flask:before{content:url('/theme/images/icons/flask/flask'+$theme-path+'.svg');}
.devicon-flutter:before{content:url('/theme/images/icons/flutter/flutter'+$theme-path+'.svg');}
.devicon-foundation:before{content:url('/theme/images/icons/foundation/foundation'+$theme-path+'.svg');}
.devicon-fsharp:before{content:url('/theme/images/icons/fsharp/fsharp'+$theme-path+'.svg');}
.devicon-gatling:before{content:url('/theme/images/icons/gatling/gatling'+$theme-path+'.svg');}
.devicon-gatsby:before{content:url('/theme/images/icons/gatsby/gatsby'+$theme-path+'.svg');}
.devicon-gcc:before{content:url('/theme/images/icons/gcc/gcc'+$theme-path+'.svg');}
.devicon-gimp:before{content:url('/theme/images/icons/gimp/gimp'+$theme-path+'.svg');}
.devicon-git:before{content:url('/theme/images/icons/git/git'+$theme-path+'.svg');}
.devicon-github:before{content:url('/theme/images/icons/github/github'+$theme-path+'.svg');}
.devicon-gitlab:before{content:url('/theme/images/icons/gitlab/gitlab'+$theme-path+'.svg');}
.devicon-gitter:before{content:url('/theme/images/icons/gitter/gitter'+$theme-path+'.svg');}
.devicon-go:before{content:url('/theme/images/icons/go/go'+$theme-path+'.svg');}
.devicon-godot:before{content:url('/theme/images/icons/godot/godot'+$theme-path+'.svg');}
.devicon-google:before{content:url('/theme/images/icons/google/google'+$theme-path+'.svg');}
.devicon-googlecloud:before{content:url('/theme/images/icons/googlecloud/googlecloud'+$theme-path+'.svg');}
.devicon-gradle:before{content:url('/theme/images/icons/gradle/gradle'+$theme-path+'.svg');}
.devicon-grails:before{content:url('/theme/images/icons/grails/grails'+$theme-path+'.svg');}
.devicon-graphql:before{content:url('/theme/images/icons/graphql/graphql'+$theme-path+'.svg');}
.devicon-groovy:before{content:url('/theme/images/icons/groovy/groovy'+$theme-path+'.svg');}
.devicon-grunt:before{content:url('/theme/images/icons/grunt/grunt'+$theme-path+'.svg');}
.devicon-gulp:before{content:url('/theme/images/icons/gulp/gulp'+$theme-path+'.svg');}
.devicon-handlebars:before{content:url('/theme/images/icons/handlebars/handlebars'+$theme-path+'.svg');}
.devicon-haskell:before{content:url('/theme/images/icons/haskell/haskell'+$theme-path+'.svg');}
.devicon-haxe:before{content:url('/theme/images/icons/haxe/haxe'+$theme-path+'.svg');}
.devicon-heroku:before{content:url('/theme/images/icons/heroku/heroku'+$theme-path+'.svg');}
.devicon-html5:before{content:url('/theme/images/icons/html5/html5'+$theme-path+'.svg');}
.devicon-ie10:before{content:url('/theme/images/icons/ie10/ie10'+$theme-path+'.svg');}
.devicon-illustrator:before{content:url('/theme/images/icons/illustrator/illustrator'+$theme-path+'.svg');}
.devicon-inkscape:before{content:url('/theme/images/icons/inkscape/inkscape'+$theme-path+'.svg');}
.devicon-intellij:before{content:url('/theme/images/icons/intellij/intellij'+$theme-path+'.svg');}
.devicon-ionic:before{content:url('/theme/images/icons/ionic/ionic'+$theme-path+'.svg');}
.devicon-jamstack:before{content:url('/theme/images/icons/jamstack/jamstack'+$theme-path+'.svg');}
.devicon-jasmine:before{content:url('/theme/images/icons/jasmine/jasmine'+$theme-path+'.svg');}
.devicon-java:before{content:url('/theme/images/icons/java/java'+$theme-path+'.svg');}
.devicon-javascript:before{content:url('/theme/images/icons/javascript/javascript'+$theme-path+'.svg');}
.devicon-jeet:before{content:url('/theme/images/icons/jeet/jeet'+$theme-path+'.svg');}
.devicon-jenkins:before{content:url('/theme/images/icons/jenkins/jenkins'+$theme-path+'.svg');}
.devicon-jest:before{content:url('/theme/images/icons/jest/jest'+$theme-path+'.svg');}
.devicon-jetbrains:before{content:url('/theme/images/icons/jetbrains/jetbrains'+$theme-path+'.svg');}
.devicon-jira:before{content:url('/theme/images/icons/jira/jira'+$theme-path+'.svg');}
.devicon-jquery:before{content:url('/theme/images/icons/jquery/jquery'+$theme-path+'.svg');}
.devicon-julia:before{content:url('/theme/images/icons/julia/julia'+$theme-path+'.svg');}
.devicon-jupyter:before{content:url('/theme/images/icons/jupyter/jupyter'+$theme-path+'.svg');}
.devicon-karma:before{content:url('/theme/images/icons/karma/karma'+$theme-path+'.svg');}
.devicon-knockout:before{content:url('/theme/images/icons/knockout/knockout'+$theme-path+'.svg');}
.devicon-kotlin:before{content:url('/theme/images/icons/kotlin/kotlin'+$theme-path+'.svg');}
.devicon-krakenjs:before{content:url('/theme/images/icons/krakenjs/krakenjs'+$theme-path+'.svg');}
.devicon-kubernetes:before{content:url('/theme/images/icons/kubernetes/kubernetes'+$theme-path+'.svg');}
.devicon-labview:before{content:url('/theme/images/icons/labview/labview'+$theme-path+'.svg');}
.devicon-laravel:before{content:url('/theme/images/icons/laravel/laravel'+$theme-path+'.svg');}
.devicon-less:before{content:url('/theme/images/icons/less/less'+$theme-path+'.svg');}
.devicon-linkedin:before{content:url('/theme/images/icons/linkedin/linkedin'+$theme-path+'.svg');}
.devicon-linux:before{content:url('/theme/images/icons/linux/linux'+$theme-path+'.svg');}
.devicon-lua:before{content:url('/theme/images/icons/lua/lua'+$theme-path+'.svg');}
.devicon-magento:before{content:url('/theme/images/icons/magento/magento'+$theme-path+'.svg');}
.devicon-markdown:before{content:url('/theme/images/icons/markdown/markdown'+$theme-path+'.svg');}
.devicon-materialui:before{content:url('/theme/images/icons/materialui/materialui'+$theme-path+'.svg');}
.devicon-matlab:before{content:url('/theme/images/icons/matlab/matlab'+$theme-path+'.svg');}
.devicon-meteor:before{content:url('/theme/images/icons/meteor/meteor'+$theme-path+'.svg');}
.devicon-microsoftsqlserver:before{content:url('/theme/images/icons/microsoftsqlserver/microsoftsqlserver'+$theme-path+'.svg');}
.devicon-minitab:before{content:url('/theme/images/icons/minitab/minitab'+$theme-path+'.svg');}
.devicon-mocha:before{content:url('/theme/images/icons/mocha/mocha'+$theme-path+'.svg');}
.devicon-modx:before{content:url('/theme/images/icons/modx/modx'+$theme-path+'.svg');}
.devicon-mongodb:before{content:url('/theme/images/icons/mongodb/mongodb'+$theme-path+'.svg');}
.devicon-moodle:before{content:url('/theme/images/icons/moodle/moodle'+$theme-path+'.svg');}
.devicon-msdos:before{content:url('/theme/images/icons/msdos/msdos'+$theme-path+'.svg');}
.devicon-mysql:before{content:url('/theme/images/icons/mysql/mysql'+$theme-path+'.svg');}
.devicon-neo4j:before{content:url('/theme/images/icons/neo4j/neo4j'+$theme-path+'.svg');}
.devicon-nestjs:before{content:url('/theme/images/icons/nestjs/nestjs'+$theme-path+'.svg');}
.devicon-nextjs:before{content:url('/theme/images/icons/nextjs/nextjs'+$theme-path+'.svg');}
.devicon-nginx:before{content:url('/theme/images/icons/nginx/nginx'+$theme-path+'.svg');}
.devicon-nixos:before{content:url('/theme/images/icons/nixos/nixos'+$theme-path+'.svg');}
.devicon-nodejs:before{content:url('/theme/images/icons/nodejs/nodejs'+$theme-path+'.svg');}
.devicon-nodewebkit:before{content:url('/theme/images/icons/nodewebkit/nodewebkit'+$theme-path+'.svg');}
.devicon-npm:before{content:url('/theme/images/icons/npm/npm'+$theme-path+'.svg');}
.devicon-numpy:before{content:url('/theme/images/icons/numpy/numpy'+$theme-path+'.svg');}
.devicon-nuxtjs:before{content:url('/theme/images/icons/nuxtjs/nuxtjs'+$theme-path+'.svg');}
.devicon-objectivec:before{content:url('/theme/images/icons/objectivec/objectivec'+$theme-path+'.svg');}
.devicon-ocaml:before{content:url('/theme/images/icons/ocaml/ocaml'+$theme-path+'.svg');}
.devicon-opengl:before{content:url('/theme/images/icons/opengl/opengl'+$theme-path+'.svg');}
.devicon-opera:before{content:url('/theme/images/icons/opera/opera'+$theme-path+'.svg');}
.devicon-oracle:before{content:url('/theme/images/icons/oracle/oracle'+$theme-path+'.svg');}
.devicon-pandas:before{content:url('/theme/images/icons/pandas/pandas'+$theme-path+'.svg');}
.devicon-perl:before{content:url('/theme/images/icons/perl/perl'+$theme-path+'.svg');}
.devicon-phalcon:before{content:url('/theme/images/icons/phalcon/phalcon'+$theme-path+'.svg');}
.devicon-phoenix:before{content:url('/theme/images/icons/phoenix/phoenix'+$theme-path+'.svg');}
.devicon-photoshop:before{content:url('/theme/images/icons/photoshop/photoshop'+$theme-path+'.svg');}
.devicon-php:before{content:url('/theme/images/icons/php/php'+$theme-path+'.svg');}
.devicon-phpstorm:before{content:url('/theme/images/icons/phpstorm/phpstorm'+$theme-path+'.svg');}
.devicon-postgresql:before{content:url('/theme/images/icons/postgresql/postgresql'+$theme-path+'.svg');}
.devicon-premierepro:before{content:url('/theme/images/icons/premierepro/premierepro'+$theme-path+'.svg');}
.devicon-processing:before{content:url('/theme/images/icons/processing/processing'+$theme-path+'.svg');}
.devicon-protractor:before{content:url('/theme/images/icons/protractor/protractor'+$theme-path+'.svg');}
.devicon-putty:before{content:url('/theme/images/icons/putty/putty'+$theme-path+'.svg');}
.devicon-pycharm:before{content:url('/theme/images/icons/pycharm/pycharm'+$theme-path+'.svg');}
.devicon-python:before{content:url('/theme/images/icons/python/python'+$theme-path+'.svg');}
.devicon-qt:before{content:url('/theme/images/icons/qt/qt'+$theme-path+'.svg');}
.devicon-r:before{content:url('/theme/images/icons/r/r'+$theme-path+'.svg');}
.devicon-rails:before{content:url('/theme/images/icons/rails/rails'+$theme-path+'.svg');}
.devicon-raspberrypi:before{content:url('/theme/images/icons/raspberrypi/raspberrypi'+$theme-path+'.svg');}
.devicon-react:before{content:url('/theme/images/icons/react/react'+$theme-path+'.svg');}
.devicon-redhat:before{content:url('/theme/images/icons/redhat/redhat'+$theme-path+'.svg');}
.devicon-redis:before{content:url('/theme/images/icons/redis/redis'+$theme-path+'.svg');}
.devicon-redux:before{content:url('/theme/images/icons/redux/redux'+$theme-path+'.svg');}
.devicon-rocksdb:before{content:url('/theme/images/icons/rocksdb/rocksdb'+$theme-path+'.svg');}
.devicon-rstudio:before{content:url('/theme/images/icons/rstudio/rstudio'+$theme-path+'.svg');}
.devicon-ruby:before{content:url('/theme/images/icons/ruby/ruby'+$theme-path+'.svg');}
.devicon-rubymine:before{content:url('/theme/images/icons/rubymine/rubymine'+$theme-path+'.svg');}
.devicon-rust:before{content:url('/theme/images/icons/rust/rust'+$theme-path+'.svg');}
.devicon-safari:before{content:url('/theme/images/icons/safari/safari'+$theme-path+'.svg');}
.devicon-salesforce:before{content:url('/theme/images/icons/salesforce/salesforce'+$theme-path+'.svg');}
.devicon-sass:before{content:url('/theme/images/icons/sass/sass'+$theme-path+'.svg');}
.devicon-scala:before{content:url('/theme/images/icons/scala/scala'+$theme-path+'.svg');}
.devicon-sdl::before{content:url('/theme/images/icons/sdl/sdl'+$theme-path+'.svg');}
.devicon-sequelize:before{content:url('/theme/images/icons/sequelize/sequelize'+$theme-path+'.svg');}
.devicon-shopware:before{content:url('/theme/images/icons/shopware/shopware'+$theme-path+'.svg');}
.devicon-sketch:before{content:url('/theme/images/icons/sketch/sketch'+$theme-path+'.svg');}
.devicon-slack:before{content:url('/theme/images/icons/slack/slack'+$theme-path+'.svg');}
.devicon-socketio:before{content:url('/theme/images/icons/socketio/socketio'+$theme-path+'.svg');}
.devicon-sourcetree:before{content:url('/theme/images/icons/sourcetree/sourcetree'+$theme-path+'.svg');}
.devicon-spring:before{content:url('/theme/images/icons/spring/spring'+$theme-path+'.svg');}
.devicon-spss:before{content:url('/theme/images/icons/spss/spss'+$theme-path+'.svg');}
.devicon-sqlalchemy:before{content:url('/theme/images/icons/sqlalchemy/sqlalchemy'+$theme-path+'.svg');}
.devicon-ssh:before{content:url('/theme/images/icons/ssh/ssh'+$theme-path+'.svg');}
.devicon-storybook:before{content:url('/theme/images/icons/storybook/storybook'+$theme-path+'.svg');}
.devicon-stylus:before{content:url('/theme/images/icons/stylus/stylus'+$theme-path+'.svg');}
.devicon-subversion:before{content:url('/theme/images/icons/subversion/subversion'+$theme-path+'.svg');}
.devicon-svelte:before{content:url('/theme/images/icons/svelte/svelte'+$theme-path+'.svg');}
.devicon-swift:before{content:url('/theme/images/icons/swift/swift'+$theme-path+'.svg');}
.devicon-symfony:before{content:url('/theme/images/icons/symfony/symfony'+$theme-path+'.svg');}
.devicon-tailwindcss:before{content:url('/theme/images/icons/tailwindcss/tailwindcss'+$theme-path+'.svg');}
.devicon-tensorflow:before{content:url('/theme/images/icons/tensorflow/tensorflow'+$theme-path+'.svg');}
.devicon-thealgorithms:before{content:url('/theme/images/icons/thealgorithms/thealgorithms'+$theme-path+'.svg');}
.devicon-threejs:before{content:url('/theme/images/icons/threejs/threejs'+$theme-path+'.svg');}
.devicon-tomcat:before{content:url('/theme/images/icons/tomcat/tomcat'+$theme-path+'.svg');}
.devicon-tortoisegit:before{content:url('/theme/images/icons/tortoisegit/tortoisegit'+$theme-path+'.svg');}
.devicon-towergit:before{content:url('/theme/images/icons/towergit/towergit'+$theme-path+'.svg');}
.devicon-travis:before{content:url('/theme/images/icons/travis/travis'+$theme-path+'.svg');}
.devicon-trello:before{content:url('/theme/images/icons/trello/trello'+$theme-path+'.svg');}
.devicon-twitter:before{content:url('/theme/images/icons/twitter/twitter'+$theme-path+'.svg');}
.devicon-typescript:before{content:url('/theme/images/icons/typescript/typescript'+$theme-path+'.svg');}
.devicon-typo3:before{content:url('/theme/images/icons/typo3/typo3'+$theme-path+'.svg');}
.devicon-ubuntu:before{content:url('/theme/images/icons/ubuntu/ubuntu'+$theme-path+'.svg');}
.devicon-unity:before{content:url('/theme/images/icons/unity/unity'+$theme-path+'.svg');}
.devicon-unix:before{content:url('/theme/images/icons/unix/unix'+$theme-path+'.svg');}
.devicon-uwsgi:before{content:url('/theme/images/icons/uwsgi/uwsgi'+$theme-path+'.svg');}
.devicon-vagrant:before{content:url('/theme/images/icons/vagrant/vagrant'+$theme-path+'.svg');}
.devicon-vim:before{content:url('/theme/images/icons/vim/vim'+$theme-path+'.svg');}
.devicon-visualstudio:before{content:url('/theme/images/icons/visualstudio/visualstudio'+$theme-path+'.svg');}
.devicon-vscode:before{content:url('/theme/images/icons/vscode/vscode'+$theme-path+'.svg');}
.devicon-vuejs:before{content:url('/theme/images/icons/vuejs/vuejs'+$theme-path+'.svg');}
.devicon-vuestorefront:before{content:url('/theme/images/icons/vuestorefront/vuestorefront'+$theme-path+'.svg');}
.devicon-weblate:before{content:url('/theme/images/icons/weblate/weblate'+$theme-path+'.svg');}
.devicon-webpack:before{content:url('/theme/images/icons/webpack/webpack'+$theme-path+'.svg');}
.devicon-webstorm:before{content:url('/theme/images/icons/webstorm/webstorm'+$theme-path+'.svg');}
.devicon-windows8:before{content:url('/theme/images/icons/windows8/windows8'+$theme-path+'.svg');}
.devicon-woocommerce:before{content:url('/theme/images/icons/woocommerce/woocommerce'+$theme-path+'.svg');}
.devicon-wordpress:before{content:url('/theme/images/icons/wordpress/wordpress'+$theme-path+'.svg');}
.devicon-xd:before{content:url('/theme/images/icons/xd/xd'+$theme-path+'.svg');}
.devicon-yarn:before{content:url('/theme/images/icons/yarn/yarn'+$theme-path+'.svg');}
.devicon-yii:before{content:url('/theme/images/icons/yii/yii'+$theme-path+'.svg');}
.devicon-yunohost:before{content:url('/theme/images/icons/yunohost/yunohost'+$theme-path+'.svg');}
.devicon-zend:before{content:url('/theme/images/icons/zend/zend'+$theme-path+'.svg');}
.devicon-zig:before{content:url('/theme/images/icons/zig/zig'+$theme-path+'.svg');}